
.page_header{
  padding-left: 10px;
}
body {
  
  font-family:Palatino Linotype !important;
}
.prevImg{
    border-radius: 4px;
    width: 30em;
    height: 15em;
    border: none;
  }
.userImg{
  border-radius: 4px;
  width: 20em;
  height: 20em;
  border: none;
}
.btn-success{
  margin:1px;
}

#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


#myDiv {
  display: none;
  text-align: center;
}
.modal{
  display: none;
}
#submit{
  display: none;
}
.btn-submit{
  
  font-size: 10px;
  background-color:inherit;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  transition-duration: 0.4s;
  padding: 14px 30px;
}
.btn-submit:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.preview {
  overflow: hidden;
  width: 160px; 
  height: 160px;
  margin: 10px;
  border: 1px solid red;
}
.modal-lg{
  max-width: 1000px !important;
}
 #my_camera{
        width: 400px;
        height: 300px;
        
    }


.btn{
  margin-top: 3em;
}



/* Alert */

